<sui-tabset>
  <div class="ui top attached tabular menu">
    <a class="item" suiTabHeader="1">Grade 6</a>
    <a class="item" suiTabHeader="2">Grade 7</a>
    <a class="item" suiTabHeader="3">Grade 8</a>
  </div>
  <div class="ui bottom attached segment" suiTabContent="1">
    <div #mynetwork6></div>
  </div>
  <div class="ui bottom attached segment" suiTabContent="2">
    <div #mynetwork7></div>
  </div>
  <div class="ui bottom attached segment" suiTabContent="3">
    <div #mynetwork8></div>
  </div>
</sui-tabset>
