<div class="ui form bg">
  <div class="ui form">
    <div class="field" *ngFor="let x of [16,17,18,19,20]">
      <label>{{x}}) {{'lsc.lci_' + x | translate}}</label>

      <sui-radio-button *ngFor="let y of [1,2,3,4,5,6]"
                        name="lci_{{x}}" value="val_{{y}}"
                        [(ngModel)]="answers[x]">
        {{'lsc.lci_answers_' + y | translate }}
      </sui-radio-button>

    </div>
  </div>

  <div class="ui grid">
    <div class="six wide column"></div>
    <div class="four wide column align-center">
      <div class="ui animated fluid big button violet blue nav" tabindex="0" (click)="done()">
        <div class="visible content">{{'finish' | translate}}</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
