<sui-tabset>
  <div class="ui top attached tabular menu">
    <a class="item" suiTabHeader="1">Characteristics</a>
    <a class="item" suiTabHeader="2">Instructions</a>
  </div>
  <div class="ui bottom attached segment" suiTabContent="2">

    <table class="ui celled structured table">
      <thead>
      <tr>
        <th>Type</th>
        <th colspan="2">Experimental</th>
        <th colspan="2">Methodological</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td rowspan="6">Studying</td>
        <td class="positive">Studying alone may much effective than group studying</td>
        <td class="positive">Study by answering questions in the textbook and assignments</td>
        <td class="positive">Start studying with a small plan</td>
        <td class="positive">Refer to external sources like books, papers, and internet when studying</td>
      </tr>
      <tr>
        <td class="positive">Explore practical ways to study where you can perform hands-on learning</td>
        <td class="positive">Try brainstorming the content that you are planning to study</td>
        <td class="positive">Always follow the notes and textbook in the order of syllabus</td>
        <td class="positive">Learn by making questions from the lessons and answering them by yourself</td>
      </tr>
      <tr>
        <td class="positive">Focus on writing answers to questions while studying</td>
        <td class="positive">Always correct the answers you have written using textbook or notes</td>
        <td class="negative">Follow example questions when studying before you try answering</td>
        <td class="positive">Do not worry too much about certain theorems and how they are proved. Only the application
          is important
        </td>
      </tr>
      <tr>
        <td class="negative">Take a short break periodically while studying for a long time</td>
        <td class="negative">Take down short notes in point form while studying</td>
        <td class="negative">Do not worry too much about neatness when studying</td>
        <td class="negative">Only focus study on the given scope of the syllabus. Do not overanalyze external sources.
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="negative">Revise your studies once in a while</td>
        <td class="negative">Practice to do questions on time</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="negative">Do not consume a lot of time when making a study plan</td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="5">Examination</td>
        <td class="negative">Properly write the complete answer assuming the examiner has no knowledge about the
          question
        </td>
        <td class="positive">Use the scrap paper for planning your answers</td>
        <td class="positive">If you are struggling to answer a question, think of a similar question and work through
          like that
        </td>
        <td class="negative">Don’t try to provide the long descriptive answers, if you are unsure.</td>
      </tr>
      <tr>
        <td class="negative">Use all of the time allocated</td>
        <td class="negative">Organize the answer according to the asked question. Do not write all the things you know
          without understanding
        </td>
        <td class="positive">When you are short of time, put a mark by the answers that you need to go back and check
        </td>
        <td class="negative">Don’t linger and think hard on the questions that you think you are unsure</td>
      </tr>
      <tr>
        <td class="negative">Properly label your diagrams and complete your writings properly</td>
        <td class="negative">Read the question properly. Don’t make up your own version of what you think the question
          means
        </td>
        <td class="negative">Don’t over analyze the directions and questions</td>
        <td class="negative">Don’t waste a lot of time answering the questions that you think you are unsure</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="negative">Don’t over plan content for writing</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="negative">Don’t worry about your mistakes. Correct them when you are double-checking your answers
        </td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="3">Group Work</td>
        <td class="positive">Encourage others to engage in hands-on activities</td>
        <td class="negative">Allow others to express their ideas</td>
        <td class="positive">Observe that each person has his/her own way of doing things</td>
        <td class="negative">Don’t let others think that you’re questioning their ability</td>
      </tr>
      <tr>
        <td class="positive">Trust that your team members also want to do well with the task</td>
        <td></td>
        <td class="negative">Allow some flexibility. You don’t always have to follow every direction step-by-step</td>
        <td class="negative">Do not expect perfect results immediately</td>
      </tr>
      <tr>
        <td class="negative">Use diagrams and sketches to explain what you are thinking</td>
        <td></td>
        <td class="negative">Don’t be worried too much if someone doesn’t follow the plan as thoroughly as you would
          like
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>


  </div>
  <div class="ui bottom attached segment" suiTabContent="1">
    <table class="ui celled table">
      <thead>
      <tr>
        <th>Type</th>
        <th>Characteristics</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Methodological</td>
        <td>
          <div class="ui bulleted list">
            <div class="item">Working to a plan</div>
            <div class="item">Follows examples</div>
            <div class="item">Cares about neatness</div>
            <div class="item">Explore information</div>
            <div class="item">Cares about constant feedback</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Experimental</td>
        <td>
          <div class="ui bulleted list">
            <div class="item">Likes to perform hands-on activities</div>
            <div class="item">Likes to experiments</div>
            <div class="item">Willing to take risks</div>
            <div class="item">Performs well independently</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Mixed</td>
        <td>
          <div class="ui bulleted list">
            <div class="item">Combination of these characteristics</div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</sui-tabset>
