<div class="ui form bg">
  <div class="field">

    <div class="ui form">
      <div class="grouped fields">
          <div class="field">
            <label>{{'q4' | translate}}</label>
            <sui-checkbox [(ngModel)]="answers['q4'][x]" *ngFor="let x of [1,2,3,4,5,6,7,8,9,10]"
            >{{'com_sub.' + x | translate}}
            </sui-checkbox>
          </div>
      </div>

      <div class="field">
        <label>{{'q5' | translate}}</label>
        <input type="text" [(ngModel)]="answers['q5']" placeholder="{{'q5' | translate}}">
      </div>

      <div class="grouped fields">
        <div class="field">
          <label>{{'q6' | translate}}</label>
          <sui-checkbox [(ngModel)]="answers['q6'][x]" *ngFor="let x of [1,2,3,4,5,6,7,8,9,10]"
          >{{'com_sub.' + x | translate}}
          </sui-checkbox>
        </div>
      </div>

      <div class="field">
        <label>{{'q7' | translate}}</label>
        <input type="text" [(ngModel)]="answers['q7']" placeholder="{{'q7' | translate}}">
      </div>

      <div class="two fields">
        <div class="field">
          <label>{{'q8' | translate}}</label>
          <input type="text" [(ngModel)]="answers['q8']" placeholder="{{'q8' | translate}}">
        </div>
        <div class="field">
          <label>{{'q9' | translate}}</label>
          <input type="text" [(ngModel)]="answers['q9']" placeholder="{{'q9' | translate}}">
        </div>
      </div>

    </div>

    <div class="ui grid">
      <div class="six wide column"></div>
      <div class="four wide column align-center">
        <div class="ui animated fluid big button violet blue nav" tabindex="0" (click)="done()">
          <div class="visible content">{{'next' | translate}}</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
